{% extends 'base.html' %}

{% block content %}
<div class="card my-5">
    <div class="card-header fs-4 text-center py-3">Создание задачи</div>
    <div class="card-body">
        <form id="task-form" action="" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <textarea class="form-control" id="description" name="description"
                            placeholder="Описание" style="height: 100px"></textarea>
                <label for="description">Описание</label>
            </div>
            <div class="form-floating mb-3">
                 <select class="form-control" id="status" name="status">
                     {% for value, label in status_choices %}
                     <option value="{{ value }}">{{ label }}</option>
                     {% endfor %}
                 </select>
                <label for="status">Статус</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="due_date" name="due_date"
                    placeholder="Дата выполнения">
                <label for="due_date">Дата выполнения</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="details" name="details"
                          placeholder="Подробное описание" style="height: 100px"></textarea>
                <label for="details">Подробное описание</label>
            </div>
        </form>
    </div>
    <div class="card-footer text-end py-3">
        <button type="submit" form="task-form" class="btn btn-sm btn-primary">Сохранить</button>
    </div>
</div>
{% endblock %}